fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic-settings
pydantic[email]
python-multipart
alembic
google-auth 
httpx
requests
fastapi-mail
openai
pandas 
openpyxl